<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorohedoro.mapper.UserMapper">

    <select id="selectMapById" resultType="map">
        select id, username, password, extra_info, create_time, update_time from user where id = #{id}
    </select>
    
    <select id="selectPageByExtraInfo" resultType="user">
        select id, username, password, extra_info, create_time, update_time from user where extra_info like concat('%', #{keyword}, '%')
    </select>
</mapper>